<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/all.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
</head>
<body>
<div>
    <div id="animated-trochees"
         class="panel-style">

    </div>
    <div id="new-trochee" class="panel-style">
        <h1><label>
            <input type="text" name="search" placeholder="Trochee here">
        </label></h1>
    </div>
</div>

<script>
    function drawFallingText(svg, randomTrochee, scaleFactor, xRandomFactor) {
        var opacity = scaleFactor / 4 + 0.4;
        var scale = scaleFactor * 4 + 1;
        var duration = 50000 / scale;
        var textRootG = svg.append("g")
                .attr("transform", "translate(" + [0, -500] + ")");


        var text = textRootG.selectAll("text")
                .data([ randomTrochee])
                .enter()
                .append("text")
                .attr("text-anchor", "bottom")
                .text(function (d) {
                    return d;
                })
                .attr("transform", "scale(" + scale + ")")
                .style("fill", "lightgrey")
                .style("fill-opacity", opacity);

        var bBox = text[0][0].getBBox();
        var textWidth = bBox.width * scale;
        var textHeight = bBox.height * scale;
        var maxXAnchor = window.innerWidth - textWidth - 10;

        var xAnchor = xRandomFactor * maxXAnchor;

        textRootG.attr("transform", "translate(" + [xAnchor, -5] + ")")
                .transition()
                .attr("transform", "translate(" + [xAnchor, window.innerHeight + 15 + textHeight] + ")")
                .ease("linear")
                .duration(duration)
                .remove();
    }


    $(document).ready(function () {
        var svg = d3.select("#animated-trochees").append("svg")
                .attr("width", "100%")
                .attr("height", "100%");

        setInterval(function () {
            var scaleFactor = Math.random();
            var xRandomFactor = Math.random();

            $.getJSON("/trochee/next", function(trocheeResponse){
                drawFallingText(svg, trocheeResponse["trochee"], scaleFactor, xRandomFactor);
            });
        }, 1500);
    });
</script>
</body>
</html>
