<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/all.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<div>
    <h1><span style="font-style: italic">{{notFound}}</span> not found!</h1>
    {{> partials/link_to_add}}
</div>
</body>
</html>
